html, body {
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	color: #222;
	font-size: 18px;
	font-family:  Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

body {
	margin-top: 50px; /*Make room for fixed navbar*/
}

a {
	text-decoration: none;
	color: #33f;
}
a:hover {
	text-decoration: underline;
}
ul {
    list-style: none;
    padding-left: 0;
}

p {
	margin: 0;
}

/*Navbar styles*/

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	/*Make fixed navbar*/
	position: fixed;
	top: 0;
	width: 100%;

	padding: 10px;

	color: white;
	background-color: #3c3c3c;
}
.navbar-item {
	margin: 2px 20px 2px 0;
}
.navbar-logo {
	font-size: 23px;
	justify-self: flex-start;
	align-self: flex-start;
	margin-right: auto;
}
.navbar-logo a {
	color: white;
}
.navbar-logo a:hover {
	color: white;
	text-decoration: none;
}
.navbar-dropdown-container {
	display: inline-block;
	position: relative;
	text-align: justify;
}

.navbar-dropdown-container .navbar-dropdown {
	display: none;
	box-shadow: 0px 1px 1px #808080;
	padding: 5px;

	background: #fff;
	color: #222;
	
	/*Add overflow bars if ul is bigger than viewport*/
	max-height: 90vh;
	overflow: auto;
}
.navbar-dropdown-container:hover .navbar-dropdown {
	/*Make ul visible as dropdown menu*/
	display: block;
	position: absolute;
	top: 22px;
	right: 0;
	z-index: 1;
}
#radicals-dropdown-container .navbar-dropdown{
	min-width: 450px;
}
#hsk-levels-dropdown-container .navbar-dropdown{
	min-width: 105px;
}
#hsk-levels-dropdown-container .navbar-dropdown p {
	margin: 5px 0;
	color: #3c3c3c;
	font-size: 16px;
}
.navbar-ul {
	margin:0;
}

.search-form {
	display: inline-block;

	/*Avoid space between elements*/
	/*font-size: 0;*/
}
.search-text {
	/*Reset*/
	margin: 0;
	border: none;
	border-radius: 0;

	box-shadow: 0px 1px 0px #bbb;

	min-width: 300px;

	color: #fff;
	background-color: #3c3c3c;
	font-size: 16px;
	font-family: verdana, helvetica, sans-serif;
}
.submit-btn {
	margin: 0;
	padding: 2px;
	border: none;
	border-radius: 0 3px 3px 0;
	color: #3c3c3c;
	background-color: #fff;
	font-size: 16px;
	font-family: verdana, helvetica, sans-serif;
	cursor: pointer;
}
.search-language-fieldset {
	display: inline-block;
	flex-direction: row;
	width: 66px;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 16px;
}
.radio-form-field {
	display: inline-block;
	width: 30px;
	margin: 0;
	padding: 0;
}
label[for=search-chinese], label[for=search-english] {
	border: 1px solid #bbb;
}
label[for=search-chinese] {
	border-radius: 3px 0 0 3px;
}
label[for=search-english] {
	border-radius: 0 3px 3px 0;
}
.search-language-fieldset input{
	display: none;
}
.search-language-fieldset label{
	padding: 0 5px;
}
.search-language-fieldset input[type="radio"]:checked~label {
	color: #3c3c3c;
	background-color: #fff;
}

/*Main section styles*/
.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Homepage content */
.homepage-content {
	width: 75%;
	margin: auto;
}
.homepage-content p {
	margin-bottom: 10px;
}
.homepage-h1 {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

/*Table styles*/
.hanzi-table, .cedict-table {
	border-collapse: collapse;

	margin: 10px;
}
.hanzi-table-caption, .cedict-table-caption {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.hanzi-table-th, .cedict-table-th {
	padding: 10px;

	color: #222;
	text-align: right;
}
.cedict-table-td:nth-child(1) {
	min-width: 35px;
}
/* Font size for chinese characters */
.hanzi-table-td:nth-child(2),
.hanzi-table-td:nth-child(3),
.cedict-table-td:nth-child(2),
.cedict-table-td:nth-child(3) {
	font-size: 24px;
}
.hanzi-table-th:last-child, .cedict-table-th:last-child {
	text-align: center;
}
.hanzi-table-tr, .cedict-table-tr {
	border-bottom: 1px solid #bbb;
}
.hanzi-table-tr:last-child, .cedict-table-tr:last-child {
	border-bottom: none;
}
.hanzi-table-tr:hover, .cedict-table-tr:hover {
	background-color: #eee;
}
.hanzi-table-td, .cedict-table-td {
	text-align: right;
	padding: 5px;
	margin: 0;
}
.hanzi-table-td:last-child, .cedict-table-td:last-child {
	text-align: left;
	padding-left: 16px;
}
.cedict-table-td:first-child {
	min-width: 65px;
}

/*Hanzi page styles*/
.hanzi-card, .cedict-word-card {
	min-width: 400px;
	max-width: 900px;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;

	border: 1px solid #bbb;
	box-shadow: 2px 3px 1px #bbb;
	border-radius: 5px;
	padding: 10px;
	margin: 30px;
}
.hanzi-card-simp-div, .cedict-word-card-simp-div {
	margin: 0;
	padding: 10px 25px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	color: #000;
}
.hanzi-card-simp {
	font-size: 150px;
	margin: 0;
}
.cedict-word-card-simp {
	font-size: 100px;
	margin: 0;
}
.hanzi-data-dt, .cedict-word-data-dt {
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	font-weight: bold;
	color: #222;
}
#cedict-word-data-trad, #hanzi-data-trad {
	font-size: 24px;
}
.stroke-order-div {
	max-width: 800px;

	grid-column: 1 / 3;
	grid-row: 2 / 3;

	display: flex;
	justify-content: center;
}
.stroke-order-img {
	max-width: 600px;
}

.cedict-word-definition {
	padding-bottom: 5px;
	box-shadow: 0px 1px 0px #bbb;
}

.cedict-word-definition:last-child {
	padding-bottom: 0;
	box-shadow: none;
}

/* Search results page styles*/
.search-results-h1 {
	margin-top: 15px;
	margin-bottom: 10px;
}
.results-not-found {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}